<div class="register-container">
    <div class="register-box">
      <h2 class="title">Регистрация на тренировку</h2>
      
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group">
          <label for="firstName">Имя</label>
          <input 
            type="text" 
            id="firstName" 
            formControlName="firstName" 
            class="form-input"
            [class.invalid]="isFieldInvalid('firstName')"
            placeholder="Введите ваше имя"
          >
          <div *ngIf="isFieldInvalid('firstName')" class="error-message">
            <span *ngIf="firstName?.errors?.['required']">
              Пожалуйста, введите ваше имя
            </span>
            <span *ngIf="firstName?.errors?.['minlength']">
              Имя должно содержать не менее 2 символов
            </span>
            <span *ngIf="firstName?.errors?.['pattern']">
              Имя может содержать только буквы
            </span>
          </div>
        </div>
        
        <div class="form-group">
          <label for="lastName">Фамилия</label>
          <input 
            type="text" 
            id="lastName" 
            formControlName="lastName" 
            class="form-input"
            [class.invalid]="isFieldInvalid('lastName')"
            placeholder="Введите вашу фамилию"
          >
          <div *ngIf="isFieldInvalid('lastName')" class="error-message">
            <span *ngIf="lastName?.errors?.['required']">
              Пожалуйста, введите вашу фамилию
            </span>
            <span *ngIf="lastName?.errors?.['minlength']">
              Фамилия должна содержать не менее 2 символов
            </span>
            <span *ngIf="lastName?.errors?.['pattern']">
              Фамилия может содержать только буквы
            </span>
          </div>
        </div>
        
        <div class="form-group">
          <label for="telegramLogin">Telegram логин</label>
          <input 
            type="text" 
            id="telegramLogin" 
            formControlName="telegramLogin" 
            class="form-input"
            [class.invalid]="isFieldInvalid('telegramLogin')"
            placeholder="Введите ваш Telegram логин"
          >
          <div *ngIf="isFieldInvalid('telegramLogin')" class="error-message">
            <span *ngIf="telegramLogin?.errors?.['required']">
              Пожалуйста, введите Telegram логин
            </span>
            <span *ngIf="telegramLogin?.errors?.['minlength'] || telegramLogin?.errors?.['maxlength']">
              Логин должен содержать от 5 до 32 символов
            </span>
            <span *ngIf="telegramLogin?.errors?.['pattern']">
              Логин должен начинаться с буквы и содержать только буквы и цифры
            </span>
          </div>
        </div>
        
        <div class="form-group">
          <label for="phone">Номер телефона</label>
          <input 
            type="tel" 
            id="phone" 
            formControlName="phone" 
            class="form-input"
            [class.invalid]="isFieldInvalid('phone')"
            placeholder="+7 (999) 123-45-67"
          >
          <div *ngIf="isFieldInvalid('phone')" class="error-message">
            <span *ngIf="phone?.errors?.['required']">
              Пожалуйста, введите номер телефона
            </span>
            <span *ngIf="phone?.errors?.['pattern']">
              Введите корректный номер телефона
            </span>
          </div>
        </div>
        
        <button 
          type="submit" 
          [disabled]="registerForm.invalid"
          class="submit-button"
        >
          Зарегистрироваться
        </button>
        
      </form>
    </div>
  </div>
  