<div class="register-container">
    <div class="register-box">
      <h2 class="title">Регистрация на тренировку</h2>
      
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group">
          <label for="firstName">Имя</label>
          <input 
            type="text" 
            id="firstName" 
            formControlName="firstName" 
            class="form-input"
            [class.invalid]="isFieldInvalid('firstName')"
            placeholder="Введите ваше имя"
          >
          <div *ngIf="isFieldInvalid('firstName')" class="error-message">
            <span *ngIf="firstName?.errors?.['required']">
              Пожалуйста, введите ваше имя
            </span>
            <span *ngIf="firstName?.errors?.['minlength']">
              Имя должно содержать не менее 2 символов
            </span>
            <span *ngIf="firstName?.errors?.['pattern']">
              Имя может содержать только буквы
            </span>
          </div>
        </div>
        
        <div class="form-group">
          <label for="lastName">Фамилия</label>
          <input 
            type="text" 
            id="lastName" 
            formControlName="lastName" 
            class="form-input"
            [class.invalid]="isFieldInvalid('lastName')"
            placeholder="Введите вашу фамилию"
          >
          <div *ngIf="isFieldInvalid('lastName')" class="error-message">
            <span *ngIf="lastName?.errors?.['required']">
              Пожалуйста, введите вашу фамилию
            </span>
            <span *ngIf="lastName?.errors?.['minlength']">
              Фамилия должна содержать не менее 2 символов
            </span>
            <span *ngIf="lastName?.errors?.['pattern']">
              Фамилия может содержать только буквы
            </span>
          </div>
        </div>
        
        <button 
          type="submit" 
          [disabled]="registerForm.invalid"
          class="submit-button"
        >
          Зарегистрироваться
        </button>
        
      </form>
    </div>
  </div>
  