/* Основные стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5dc; /* Light Beige */
}

/* Контейнер */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

/* ==== HEADER ==== */
.header {
  background-color: #312720;
  color: #fff;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e63946;
}

/* ==== NAVIGATION ==== */
.nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.nav-list a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
}

.menu-dropdown {
  position: relative;
  z-index: 999;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  color: black;
  list-style: none;
  padding: 0;
  border-radius: 3px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown li {
  padding: 0.8rem 1rem;
}

.dropdown li a {
  font-size: 1rem; /* Размер шрифта */
  font-weight: bold; /* Жирный шрифт */
  color: #e63946; /* Красный цвет, как в заголовке */
  text-decoration: none;
  white-space: nowrap; /* Запрещает перенос строк */
  display: block;
  padding: 0.8rem 1rem;
}

.menu-dropdown:hover .dropdown {
  display: block;
}

/* Кнопка регистрации */
.btn-register {
  background-color: #c9184a;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn-register:hover {
  background-color: #a4133c;
}

/* ==== MAIN CONTENT ==== */
.main {
  flex-grow: 1;
  padding: 2rem 1rem;
}

/* ==== FOOTER ==== */
.footer {
  background-color: #312720;
  color: white;
  padding: 2rem 0;
  text-align: center;
}

.footer .container {
  display: flex;
  flex-direction: column; /* Делает вертикальную компоновку */
  align-items: center;    /* Выравнивает по центру */
  text-align: center;     /* Текст по центру, если нужно */
}

.social-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #e63946;
}
