<header class="header">
  <div class="container">
    <div class="logo">
      <img src="{{'assets/images/all_run.png'}}" alt="All Run Logo" class="logo-img" />
    </div>

    <nav class="nav">
      <ul class="nav-list">
        <li><a href="/" routerLinkActive="active">Главная</a></li>
        <li><a href="/register" class="btn-register">Регистрация</a></li>

        <!-- Кнопка меню для скрытых ссылок -->
        <li class="menu-dropdown">
          <button class="menu-toggle">Меню ▾</button>
          <ul class="dropdown">
            <li><a href="/about-trainer">О тренере</a></li>
            <li><a href="/about-club">О клубе</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="container text-center">
    <p>© 2025 All Run Спортивный клуб</p>
    <p>Телефон: +7 (999) 123-45-67</p>
    <p>Email: info&#64;avrun.sport</p>
    <div class="social-links">
      <a href="#">Telegram</a>
    </div>
  </div>
</footer>
